.Diagram {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.srd-diagram {
  background-color: #444 !important;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

.srd-diagram:hover {
  cursor: default;
}

.srd-diagram .node {
  cursor: pointer;
}

.srd-diagram .node * {
  cursor: pointer;
}

.srd-diagram .kevoree-link path {
  stroke: rgba(255, 255, 255, 0.5);
}