.Diagram {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.Diagram .drop-to-load {
  position: relative;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  border: 2px solid yellow;
}

.Diagram-details {
  display: inline-block;
  position: absolute;
  left: 10px;
  bottom: 5px;
  color: #999;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.srd-diagram {
  background-color: #444 !important;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  background-size: 50px 50px;
}

.srd-diagram:hover {
  cursor: default;
}

.srd-diagram .node {
  cursor: pointer;
}

.srd-diagram .node * {
  cursor: pointer;
}

.srd-diagram .kevoree-link path {
  stroke: rgba(255, 255, 255, 0.5);
}