.OverlayIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 8px;
  background-color: #000;
  color: #ccc;
  margin-bottom: 10px;
  border: none;
}

.OverlayIcon:last-child {
  margin-bottom: 0;
}

.OverlayIcon:hover {
  cursor: pointer;
}

.OverlayIcon:hover,
.OverlayIcon:active,
.OverlayIcon:focus {
  background-color: #292929;
}

.OverlayIcon-tooltip {
  margin-right: 25px;
  display: none;
}

.OverlayIcon-tooltip.hovered {
  display: block;
}