.basic-node.kevoree-node {
  background-color: rgba(0, 0, 0, 0.2) !important;
  outline-width: 0;
  display: flex;
  flex-flow: column;
  min-width: 180px;
  min-height: 100px;
}

.kevoree-node .header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.kevoree-node .header .name {
  margin-right: 10px;
  color: #eee;
  font-weight: bold;
}

.kevoree-node .body {
  flex-grow: 1;
  margin: 2px;
  color: #eee;
  background-color: transparent !important;
}