.kevoree-node {
  display: flex;
  flex-flow: column;
  min-width: 180px;
  min-height: 100px;
}

.kevoree-node .header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.kevoree-node .header input.inline-input {
  display: inline-block;
  border: none;
  border-color: transparent;
}

.kevoree-node .content {
  flex-grow: 1;
  margin: 2px;
  color: #eee;
}