.kevoree-node.droppable {
  border-color: lightgreen !important;
}

.kevoree-node .title .name {
  text-align: center;
}

.kevoree-node .children {
  margin: 2px;
  padding: 1px;
  min-height: 10px;
}

.kevoree-node .children .node {
  position: relative;
}

.kevoree-node .children .node {
  margin-top: 2px;
}

.kevoree-node .children .node:first-child {
  margin-top: 0;
}