.srd-node {
  &.selected {
    .kevoree-component {
      border-color:rgb(0,192,255);
    }
  }
}

.kevoree-component {
  color: #eee;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  outline-width: 0;
  display: flex;
  flex-flow: column;
  min-width: 160px;

  .ports {
    display: flex;
    justify-content: space-between;

    .in {
      padding-right: 20px;

      .name {
        padding-left: 5px;
      }

      .port {
        background-color: rgba(255, 255, 255, 0.4);

        &.srd-port--selected {
          background-color: rgba(155, 245, 52, 0.4);
        }
      }

      .kevoree-port {
        justify-content: flex-start;
      }
    }

    .out {
      .name {
        padding-right: 5px;
      }

      .port {
        background-color: rgba(255, 255, 255, 0.4);

        &.srd-port--selected {
          background-color: rgba(155, 245, 52, 0.4);
        }
      }

      .kevoree-port {
        justify-content: flex-end;
      }
    }
  }
}