.srd-node {
  &.selected {
    .kevoree-node {
      border-color:rgb(0,192,255);
    }
  }
}

.kevoree-node {
  color: #eee;
  border: 2px solid black;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
  outline-width: 0;
  display: flex;
  flex-flow: column;
  min-width: 280px;
  min-height: 150px;

  .header {
    max-height: 34px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }

  .body {
    flex-grow: 1;
    margin: 2px;
    background-color: transparent;

    .components {
      list-style-type: none;
      padding-left: 5px;
      margin: 0;
    }
  }
}