.SidebarGroup {
  margin: 4px;
  background-color: #333;
  color: #eee;
}

.SidebarGroup-header {
  padding: 5px 8px;
}

.SidebarGroup-header:hover {
  cursor: pointer;
  background-color: #2b2b2b;
}

.SidebarGroup-header-icon {
  padding-right: 10px;
}

.SidebarGroup-header-title {
  text-transform: uppercase;
  font-weight: 600;
}

.SidebarGroup-body {
  border-top: 1px solid #666;
  padding: 5px;
}