.Sidebar {
  background-color: #555;
  width: 240px;
  box-shadow: 0 0 20px #000;
  z-index: 1;
  display: flex;
  flex-flow: column;
}

.Sidebar-content {
  flex-grow: 1;
  height: 100%;
}

.Sidebar-innerscroll {
  padding: 12px;
}