.SidebarItem {
  color: #fff;
  padding: 8px 10px;
  margin: 5px 0;
  border: 2px solid black;
  border-radius: 5px;
  word-wrap: break-word;
}

.SidebarItem:first-child {
  margin-top: 0;
}

.SidebarItem:last-child {
  margin-bottom: 0;
}

.SidebarItem:hover {
  cursor: grab;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1));
  background-repeat: no-repeat;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
