.Sidebar {
  background-color: #222;
  width: 240px;
  box-shadow: 0 0 20px #000;
  z-index: 1;
  display: flex;
  flex-flow: column;
}

.Sidebar-content {
  flex-grow: 1;
  height: 100%;
}

.Sidebar-scrollbar {
  color: #666;
}

.Sidebar-innerscroll {
  padding: 4px 8px;
}

.Sidebar-content-empty {
  font-style: italic;
  color: #ccc;
}