.kevoree-component {
  min-width: 120px;
  outline-width: 0;
}

.kevoree-component .header {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.kevoree-component .header .name {
  margin-right: 10px;
  color: #eee;
  font-weight: bold;
}

.ports .in-port:last-child .port {
  border-bottom-left-radius: 3px;
}

.ports .out-port:last-child .port {
  border-bottom-right-radius: 3px;
}